*.log
.DS_Store
.env
.env.*
!.env.example
!.env.mysql.example
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/database/*.sqlite*
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/storage/pail
/scripts/*storyblok*.php
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
